@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

@mixin ubuntu-bold {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@mixin pacifico-regular {
    font-family: 'Pacifico', cursive;
}